
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}


.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
}


main {
    padding: 20px;
}

.project-details {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-details p {
    margin: 0 0 20px;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.image-container p {
    text-align: center;
}
